.caja{
    height: 40px;
    margin-top: 15px;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-size: 30px;
}

.imgCard{
    
    height: 250px;

}