.logo-img{
    width:70px;
}

.searchBar{
    width:10000px;
}

#link{
    color: white !important;
}

#link:hover{
    color:grey !important;
}

.option:hover{
    background-color: rgba(136, 135, 135, 0.329) !important;
}