div.cabecera{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    color: white;
    background-color: blue;
}