div.caja-taza{
    color: blue;
    border: 2px solid blue;
    padding: 5px;
    display: inline-block;
}

div.caja-taza p{
    margin: 5px 0;
    text-align: center;
}

div img{
    width: 200px;
    height: 200px;
}