form.miformulario{
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin:auto;
    background-color: beige;

}

form.miformulario > label{
    width: 100px;
    display: inline-block;
}

form.miformulario button{
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

form.miformulario2{
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin:auto;
    background-color: beige;

}
form.miformulario2 > label{
    width: 100px;
    display: inline-block;
}

form.miformulario2 button{
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}