body{
    background-color: beige;
}

.titol{
    color: brown;
}

.subtitol{
    font-weight: 100;
}

.courierF{
    font-family: 'Courier New', Courier, monospace;
}

.imagePortada{
    height: 150px;
    width: 200px;
}

.titolLorem{
    color: rgb(44, 228, 228);
}

.loremblue{
    color: darkblue;
}

div.recuadro{
    
        width: 1200px;
        height: 700px;
        box-sizing: border-box;
        background-color: rgb(218, 212, 212);
        padding: 20px;
        
      }

      div.recuadroIMG{

        background-color: white;
        width: 380px;
        height: 400px;
        margin: 2px;
        display:inline-block;     
        border-radius: 25px;
        padding-bottom: 10%;
        vertical-align: top;
        position: relative;
         
      }

      div.recuadroIMG img{
        width: 360px;
        height: 300px;
        border-radius: 25px;
        display:inline-block;
        padding: 10px;
        z-index: 1;
        
      }

      div.tamanoImg{
          width: 360px;
          height: 300px;
      }

      .textBold{
          font-weight: bold;
          padding: 10px;
          font-size: x-large;
      }

      .textTitleImg{
        padding: 10px;
        font-size: medium;
      }

      .textDescImg{
        padding: 10px;
        font-size: medium;
      }

      div.icono img{
        
        width: 60px;
        height: 50px;
        position: absolute;; 
        left:60px;
        bottom: 10px;
        
      }

      div.icono2 img{


        width: 80px;
        height: 70px;
        position: absolute;; 
        left:250px;
        bottom: 4px;
        
      }

      div.icono3 {
        
        position: absolute;
        width: 40px;
        height: 40px;
        top: 30px;
        right: 30px;
        background-image: url(images/icono_wallapop.jpeg);
        background-size: 40px;

      }

      span.barra{


        border-right: 2px solid rgb(142, 145, 142);
        width: 50px;
        height: 70px;
        position: absolute;; 
        left:150px;
        bottom: 10px;
        
      }